Button:hover{
    background: antiquewhite !important;
}
.message{
    display: flex;
    justify-content: center;
    margin-top: 20px !important;
}
.next-button{
    display: flex !important;
    margin: 0 auto !important;
    margin-top: 20px !important;
}

.next-button:hover{
    background: black !important;
}
.score-wrapper{
    display: flex;
    justify-content: space-between;
}
